spring:
  application:
    name: config-server
#  profiles:
#    active: dev
  cloud:
    config:
      server:
        git:
#          uri: /Users/mark/IdeaProjects/user-app-config
          uri: file:/user-app-config
          default-label: main
server:
  port: 8888


